{{#each this}}
    <div class="card__content">
        <h2 class="card__name">{{name}}</h2>
        <img src={{flag}} alt={{name}} class="card__image" />
        <p class="card-text">Capital: 
            <span class="card-text__item">
                {{capital}}
            </span>
        </p>
        <p class="card-text">Population: 
            <span class="card-text__item">
                {{population}}
            </span>
        </p>
        <p class="card-text">
            Languaes: 
            <span class="card-text__item">
                <ul class="languages-list">
                    {{#each languages}}
                        <li class="languages-list__item">{{name}}</li>
                    {{/each}}
                </ul>
            </span>
            
        </p>           
    </div>    
{{/each}}

